.popup-container .modal-inner {
  width: 25%;
  height: auto;
}
.center-pos {
  top: 30%;
}
.rounded-top {
  border-radius: 10px 10px 0px 0px;
}
 
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.button-payment:hover {
	background: var(--background-colapse-bar);
}

.button-payment {
	background: var(--white);
}