.wrapper{
	box-shadow: 0px 5px 6px 0px rgba(0, 89, 255, 0.25);
	@media (max-width: 900px){
		box-shadow:unset
	}
	@media (max-width: 500px){
		box-shadow:unset
	}
}
@media (min-width: 768px) {
    .wrapper {
      background-color: white !important;
    }
  }
 
@media (min-width: 768px) {
	.bg-white-mobile {
		background-color: transparent !important;
	}
}
