.popup-container .modal-inner {
  width: 25%;
  height: auto;
}
.center-pos {
  top: 30%;
}
.rounded-top {
  border-radius: 10px 10px 0px 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
}

.form-label {
	display: flex;
	padding: 0 12px;
	align-items: flex-start;
	gap: 10px;
	@media (max-width: 900px){
		padding: 0 0;
	}
	@media (max-width: 500px){
		padding: unset;
	}
}

.form-input {
	display: flex;
	align-items: center;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid var(--ink-divide);
	background: rgba(0, 0, 0, 0.05);
	width: 100%;
}
.form-input-selection {
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--ink-divide);
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
}

.active-btn-save {
  border: none;
  font-size: var(--font-size-common);
  font-family: var(--font-common);
  font-weight: var(--font-weight-common);
  background-color: var(--blue);
  color: var(--white);
}
