<div class="p-4 gap-3 border-opacity-10 border-black border-2 rounded-xl">
  <div class="flex items-end gap-4">
    <div class="flex flex-col items-start gap-2">
      <div class="flex items-center gap-2">
        <img src="../../../../assets/icons/building-07.svg" />
        <span class="text-[var(--blue-text)]">Công ty ABC XYZ</span>
      </div>
      <div class="flex flex-col items-start gap-2 self-stretch">
        <div class="flex items-center gap-2 text-black text-opacity-50">
          <img src="../../../../assets/icons/briefcase-02.svg" />
          <span class="font-normal">Sửa nhà</span>
        </div>
        <div class="flex items-center gap-2 text-black text-opacity-50">
          <img src="../../../../assets/icons/briefcase-01.svg" />
          <span class="font-normal">Sửa mái nhà</span>
        </div>
      </div>
    </div>
    <div class="flex items-start gap-2 text-black text-opacity-50">
      <div class="flex flex-col items-start gap-2">
        <div class="flex items-start gap-2">
          <div class="flex flex-col justify-end items-start gap-2">
            <div class="flex items-center gap-2">
              <img src="../../../../assets/icons/calendar-minus-01.svg" />
              <span>01/04/2023</span>
            </div>
          </div>
          <div class="flex flex-col justify-end items-start gap-2">
            <div class="flex items-center gap-2">
              <img src="../../../../assets/icons/clock-rewind.svg" />
              <span>08:00 - 09:00</span>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <img src="../../../../assets/icons/location.svg" />
          <span>Duy Tân, Cầu Giấy, Hà Nội</span>
        </div>
      </div>
    </div>
  </div>
</div>
