<div class="">
  <div class="table-wrapper">
    <table
      id="dtOrderExample"
      class="table table-striped table-bordered table-sm dataTable table-body-wrapper"
      cellspacing="0"
      width="100%"
    >
      <thead>
      <tr>
        <th
          class="heading-table"
        >
         <span>{{ 'sequenceIndexLbl' | translate }}</span>

        </th>
        <th
          class="heading-table"
          *ngFor="let col of displayedColumns"
          ngClass="{{ col.key }}"
        >
          <span>{{ col.name }}</span>
        </th>
        <th
          class="heading-table"
        >
          <span>{{ "Action" }}</span>
        </th>
        <th class="md:px-2 px-1">
          <div class="d-flex justify-content-center">
            <input type="checkbox" class="form-check-input form-check-input-all" id="" (click)="onCheckAll($event)" />
          </div>
        </th>
      </tr>
      </thead>
      <tbody class="">
      <tr class="body-table" *ngFor="let rowData of dataTable; index as i">
        <td class="md:px-2 px-1">
          <span>{{i + 1}}</span>
        </td>
        <td class="md:px-2 px-1" *ngFor="let col of displayedColumns">
          <div>
            <span>{{rowData[col.key]?rowData[col.key]:"N/A"}}</span>
          </div>
        </td>
        <td class="md:px-2 px-1">
          <button [disabled]="!rowData.cv" [ngClass]="{'bg-disable !border-none': !rowData.cv}" (click)="onDownloadCv(rowData)" style="border: 1px solid #5B91FB;"
                  class="rounded  w-auto flex justify-center items-center gap-2 py-1 px-2 ">
            <p [ngClass]="{'!text-[#9a9ba0] no-underline': !rowData.cv}" class="flex items-center text-center font-body not-italic font-semibold text-xs underline"
               style="color: #00b14f;">{{"uploadCV" | translate}}</p>
          </button>
        </td>
        <td class="md:px-2 px-1">
          <div class="d-flex justify-content-center">
            <input type="checkbox" class="checkbox-item form-check-input"
                   (click)="onCheckBox($event, rowData);$event.stopPropagation()" />
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<div class="flex justify-center mt-6">
	<ul class="flex items-center gap-2 pagination-custom">
		<!-- Prev -->
		<li>
			<button (click)="onPrePageClick()" [disabled]="!isPrePageActive()" class="page-btn">
				‹
			</button>
		</li>

		<!-- Page numbers -->
		<li *ngFor="let i of arrPage">
			<button *ngIf="isDisplayPageNumber(i)" (click)="onCurrentPageClick(i)" class="page-btn"
				[class.active]="currentPage === i">
				{{ i }}
			</button>
		</li>

		<!-- Next -->
		<li>
			<button (click)="onNextPageClick()" [disabled]="!isNextPageActive()" class="page-btn">
				›
			</button>
		</li>
	</ul>
</div>
</div>
