
.header-down {
    background: var(--light-gray);
    padding: 10px 70px;
}

.header-down .input-group-wrapper {
    height: 60%;
}
.header-down .input-group-wrapper .input-text-search:first-child {
    padding-left: 0px!important;
}
.header-down .input-group-wrapper .input-text-search {
    height: 90%;
    padding-left: 19px;
}
.header-down .header-btn-group-wrapper {
    height: 40%;
}

.search {
    font-size: 13px;
    line-height: 25px;
    transition: all .5s ease;
    width: 162px;
    float: left;
    margin: 20px 0 0 30px;
}

.search i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
}
.search input {
    background: 0 0;
    border: none;
    outline: 0;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
}

.header-down .input-text-search {

}
/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobil {
        display: none;
    }
}
@media (max-width: 414px) {
    .input-search {
        height: 60%;
    }
}


