.job-candidate-item-wrapper {
    height: 150px;
    background: var(--light-gray-1);
    border-radius: 6px;
    padding: 10px;
}
.job-candidate-item-wrapper .content-item {
    height: 60px;
}
.job-candidate-item-wrapper img {
    // height: 40px;
    // width: 100%;
    background: var(--white);
}
.job-candidate-item-wrapper .header-item .title{
    padding-left: 10px;
}
.job-candidate-item-wrapper .content-item {
    margin-top: 5px;
}
.salary-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 23px;
}