.user-detail-wrapper {
	.btn-show-user-info {
			border: none;
			background-color: var(--background-colapse-bar);
			color: var(--blue-text);
	}
	.mat-form-field {
			display: block; 
	}
}
.active-btn-save {
	border: none;
	font-size: var(--font-size-common);
	font-family: var(--font-common);
	font-weight: var(--font-weight-common);
	background-color: var(--green);
	color: var(--white);
}

.btn-disable {
	border: none;
	font-size: var(--font-size-common);
	font-family: var(--font-common);
	font-weight: var(--font-weight-common);
	background-color: var(--disable-btn-color);
	color: var(--disable-text-color);
}
.address-wrapper {
	height: 100%;
	.col-xs-12{
			height: 100%;
	}
}
.input-default::placeholder {
	color: rgba(0, 0, 0, 0.3); /* Màu mờ cho placeholder */
  }
  
  .input-focus:focus {
	color: black;
  }
  