.management-container {
    max-height: 100vh;
    overflow: hidden;
    .management-container-main {
      display: flex;
      column-gap: 12px;
      .management-container-right {
        flex: 1;
        overflow-y: scroll;
        max-height: calc(100vh - 60px);
      }
    }
  }
  