.popup-container {
  // width: 40%;
  // height: auto;
	// @media (max-width: 900px){
	// 	width: 50%;
	// 	height: 50%;
	// }
	// @media (max-width: 500px){
	// 	width: 90%;
	// 	height: 100%;
	// }
}
.center-pos {
  top: 30%;
}
.rounded-top {
  border-radius: 10px 10px 0px 0px;
}
 
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

/* Hide increment/decrement arrows for read-only points field */
input.no-spinner[type=number]::-webkit-outer-spin-button,
input.no-spinner[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spinner[type=number] {
  -moz-appearance: textfield;
}