.center-pos {
    top: 15%;

}

.popup-container .modal-inner {
    //padding: 20px;
    width: 50%;
    height: auto;
    margin-bottom: 5%;
		@media (max-width: 900px){
			width: 70%;
			height: auto;
		}
		@media (max-width: 500px){
			width: 90%;
			height: auto;
		}
}

input.ng-invalid.ng-touched {
    border: red 1px solid;
}
.popup-container .selected{
	border: #E99200 1px solid;
}