.dropdown-wrapper {
    position: absolute;
    width: 150px;
    border-radius: 12px;
}
.list-items {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
.dropdown-wrapper .menu-toggler{
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dropdown-wrapper .menu-toggler img {
    height: 23px;
    cursor: pointer;
}
.dropdown-wrapper ul {
    list-style: none;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    background: var(--white);
}
.dropdown-wrapper ul li {
    padding: 7px;
 }
 .dropdown-wrapper ul li i{
    width: 22px;
    font-size: 15px;
 }
 .dropdown-wrapper ul li a {
    margin-left: 5px;
    text-decoration: none;
 }