<app-header-up></app-header-up>
<div *ngIf="!isLoading && company" class="company-container">

  <div class="company-card">
    <div class="company-header">
      <img class="company-avatar" [src]="company.avatar || 'assets/default-company.png'" alt="Avatar">
      <div class="company-info">
        <h1 class="company-name">{{ company.name }}</h1>
        <p class="company-industry" *ngIf="company.industry">🏭 {{ company.industry }}</p>

        <p class="company-location" *ngIf="company.province || company.ward">
          📍 {{ company.ward }}{{ company.ward && company.province ? ', ' : '' }}{{ company.province }}
        </p>
      </div>
    </div>

    <div class="company-details">
      <p *ngIf="company.description">{{ company.description }}</p>

      <p *ngIf="company.website">
        🌐 Website:
        <a [href]="company.website" target="_blank" class="company-link">
          {{ company.website }}
        </a>
      </p>

      <p *ngIf="company.updateDate">
        🔄 Cập nhật gần nhất:
        <span class="highlight">
          {{ company.updateDate | date: 'dd/MM/yyyy HH:mm' }}
        </span>
      </p>
    </div>
  </div>

  <h2 class="job-title">Tuyển dụng</h2>

  <div class="mt-14" *ngIf="dataSource && dataSource.data.length > 0; else noJobs">
    <app-items-list
      #itemsListRef
      [dataSource]="dataSource"
      (changePage)="changePage($event)"
      (onViewDetailItem)="showDetailItem($event)"
      (requestFill)="onRequestFill($event)"
      [currentPage]="pageNum">
    </app-items-list>
  </div>
</div>

<ng-template #noJobs>
  <p class="no-job-text">Chưa có tin tuyển dụng nào.</p>
</ng-template>

<div *ngIf="isLoading" class="loading-box">
  <p>Đang tải dữ liệu...</p>
</div>
<app-footer></app-footer>