.table-wrapper {
  height: auto;
  overflow-y: auto;
  overflow: scroll;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap; 

  table {
    background: #ffffff;
    border: 1px solid #ebf2ff;
    vertical-align: middle;
    border-radius: 12px;
    thead {
      padding: 12px 20px;
      height: 68px;
      align-items: center;
      vertical-align: middle;
      tr {
        .checkbox-all {
          text-align: center;
        }
        .heading-table {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: rgba(8, 38, 57, 1);
          // padding: 12px 0;
          border: none;
        }
        .action {
          width: 10%;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
      }
      .body-table {
        height: 68px;
        padding: 20px;
        .checkbox-item {
          text-align: center;
        }
        .account-admin {
          display: flex;
          align-items: center;
          height: 100%;
          gap: 20px;
          .image-admin {
            height: 36px;
            width: 36px;
            background: #f3f6f9;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 28.8px;
              width: 28.8px;
            }
          }
          .info-admin {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .name-admin {
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              text-decoration-line: underline;
              color: #082639;
              flex: none;
              order: 0;
              flex-grow: 0;
            }
            .position-admin {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.3);
              flex: none;
              order: 1;
              align-self: stretch;
              flex-grow: 0;
            }
          }
        }
        .contact-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          flex: none;
          order: 1;
          flex-grow: 0;
          .admin-phone {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #082639;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }
          .admin-email {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.3);
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .admin-rank {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #082639;
          flex: none;
          order: 2;
          flex-grow: 0;
        }
      }
    }
  }
}
.form-check-input {
  width: 20px;
  height: 20px;
  // background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

// .pagination a {
//   color: black;
//   float: left;
//   padding: 8px 16px;
//   text-decoration: none;
//   transition: background-color 0.3s;
// }

// .pagination a.active {
//   background-color: #4caf50;
//   color: white;
// }

// .pagination a:hover:not(.active) {
//   background-color: #ddd;
// }
// th,
// td {
//   border: none;
// }
// end for paginator
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: rgba(235, 242, 255, 0.5);
}
.rating  {
  span {
    padding: 2px;
    img {
      width: 15px;
    }
  }
}
.action {
  img {
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .table-wrapper table th,
  .table-wrapper table td {
    white-space: nowrap; 
    overflow: hidden;
  }
}
@media screen and (max-width: 768px){
  .table-wrapper {
    max-width: 340px;
  }
}