.center-pos {
    top: 5%;
}

.popup-container .modal-inner {
    //padding: 20px;
    width: 60%;
    margin-bottom: 5%;
		@media (max-width: 900px){
			width: 60%;
    	
		}
		@media (max-width: 500px){
			width: 90%;
    	
		}
}
input.ng-invalid.ng-touched {
    border: red 1px solid;
}
